div {
	padding: 0px;
	margin: 0px;
}

#ads {
	z-index: 10;
	position:absolute;
	bottom: 0px;
	left: 0px;
	border: #b0b0b0 1px solid;
	right: 340px;
	text-align: center;
	background-color: white;
}

/*@media only screen and (min-width: 1280px){
    #main  {width: 1280px;margin-left: auto;margin-right: auto; left: auto; position:relative; border:1px solid black; height: 100%;}
}*/

.ui-title {
	padding: 0px;
	margin: 0px;
}

#appLogo {
	margin: 0px;
	margin: 6px 0px 6px 0px;
}

.clickable {
	cursor: pointer;
	font-weight: bold;
	color: #2489ce;
}

.clickable:hover, #infopage a:hover {
	background-color: #eff5ff;
	border-radius: 5px;
}

.animated {
	-webkit-transition: top 0.5s ease,width 0.5s ease,left 0.5s ease,height 0.5s ease;
    -moz-transition: top 0.5s ease,width 0.5s ease,left 0.5s ease,height 0.5s ease;
    -o-transition: top 0.5s ease,width 0.5s ease,left 0.5s ease,height 0.5s ease;
    -ms-transition: top 0.5s ease,width 0.5s ease,left 0.5s ease,height 0.5s ease;
    transition: top 0.5s ease,width 0.5s ease,left 0.5s ease,height 0.5s ease;
}

#results {
	position: absolute;
	top: 70px;
	bottom:0px;
	left:0px;
	overflow-y:scroll;
	width:100%;
	margin: 0px;
	-webkit-overflow-scrolling:touch;
}

#searchingThrobber {
	position: absolute;
	height: 28px;
	width: 28px;
	right: 18px;
	top: 21px;
	background-image: url('../img/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 1em;
	display: none;
}

#searchtext {
	width: 90%;
}


#content {
	position: absolute;
	bottom: 42px;
	top:43px;
	width:100%;
	padding:0px;
}

#footer {
	position: absolute;
	bottom:0px;
	width: 100%;
}

#infopage {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 340px;
	padding: 10px;
	/*min-width: 600px;*/
	z-index: 2;
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

/**** YouTube Player ****/

.deleteTrackButton {
	background: none;
	border: none;
}

#playerpage-fullscreen #trackInfoButton {
	display:none;
}

#playerpage #trackInfoButton {
	z-index: 10;
	top: 5px;
	right: 5px;
	position: absolute;
}

#playerpage-fullscreen {
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	width: 100%;
	z-index: 3;
	background-color:black;
	border: none;
}

#playerpage {
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	width: 340px;
	border: none;
}

#playerpage-fullscreen #playlist {
	position: absolute;
	top: 0px;
	bottom:0px;
	right:0px;
	overflow-y:scroll;
	width:340px;
	margin: 0px;
	-webkit-overflow-scrolling:touch;
}

#playerpage #playlist {
	position: absolute;
	top: 250px;
	bottom:0px;
	right:0px;
	overflow-y:scroll;
	width:340px;
	margin: 0px;
	-webkit-overflow-scrolling:touch;
}

.ui-li-thumb{
	width: 60px;
	height: 60px;
	top: 10px;
	left:10px;
}

#playerpage #player {
	width:340px;
	height:200px;
	position:absolute;
	right: 0px;
	top: 0px;
}

#playerpage-fullscreen #player {
	position:absolute;
	top: 0px;
	right: 340px;
}

#playerpage #controls {
	width: 340px;
	height: 50px;
	position: relative;
	top: 200px;
	padding: 0px;
	text-align: center;
	margin: 0px;
	background-color:black;
	border-radius: 0px;
}

#playerpage-fullscreen #controls {
	position:absolute;
	height: 50px;
	bottom: 0px;
	right: 340px;
	left: 0px;
	text-align: center;
	background-color:black;
	border-radius: 0px;
	margin:0px;
}

#controls .ui-btn.ui-first-child {
-webkit-border-top-left-radius: .6em;
border-top-left-radius: .6em;
-webkit-border-bottom-left-radius: .6em;
border-bottom-left-radius: .6em;
}

#controls .ui-btn.ui-last-child {
-webkit-border-top-right-radius: .6em;
border-top-right-radius: .6em;
-webkit-border-bottom-right-radius: .6em;
border-bottom-right-radius: .6em;
}


#controls a {
	margin: 4px 1px 1px 1px;
}

#controls .ui-btn-text {
	display: none;
}

#controls .ui-btn-inner {
	display:inline-block;
	background-size: 60% 85%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 20px;
}

#play .ui-btn-inner {
	background-image: url('../img/controls-play.png');
}

#pause .ui-btn-inner {
	background-image: url('../img/controls-pause.png');
}

#prev .ui-btn-inner {
	background-image: url('../img/controls-prev.png');
}

#next .ui-btn-inner {
	background-image: url('../img/controls-next.png');
}

#fullscreen .ui-btn-inner {
	background-image: url('../img/controls-fullscreen.png');
}

#love .ui-btn-inner {
	background-image: url('../img/controls-love.png');
}

#ban .ui-btn-inner {
	background-image: url('../img/controls-ban.png');
	background-size: 50% 70%;
}

#footer a {
	padding: 0px;
	margin: 0px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 90% 100%;
}

#footer span {
	visibility: hidden;
}

#footer h4{
	text-align: right;
}

#footer #lastfmLink { background-image: url('../img/lastfm.gif');}
#footer #lastfmLinkOff { background-image: url('../img/lastfm_off.gif');}
#footer #youtubeLink { background-image: url('../img/youtube.png'); background-size: 80% 100%;}
#footer #githubLink { background-image: url('../img/github.png');}

#settingspanel {
	text-align : right;
}

#settingspanel h3 {
	text-align : center;
}

#settingspanel p,#settingspanel input {
	text-align : left;
}

/*** Info Page ***/

#infopage #bio {
	text-align: justify;
}

#infopage .ui-btn {
	text-align: left;
}

#infopage #portrait {
	width: 100%;
}

#portraitContainer {
	max-height: 350px;
	margin-bottom: 10px;
}

#portrait {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(white));	
}

#infopage .disclaimer {
	font-size: smaller;
	color:#444444;
}

.albumLink {
	width: 100px;
	height: 110px;
	display: inline-block;
	text-align: center;
	margin: 10px 5px 0px 0px;
	padding: 5px 0px 5px 0px;
	vertical-align: top;
}

.albumLink img {
	border: 1px solid black;
	border-radius: 5px;
	width: 90px;
	height: 90px;
	-moz-box-shadow: 0 2px 5px #555;
	-webkit-box-shadow: 0 2px 5px #555;
}

.albumLink p {
	margin: 2px 0px 0px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
	width: 100px;
	display: block;
	white-space: nowrap;
}

#similarArtists {
	margin: 0px;
}

#infopage h4 {
	margin: 15px 0px 5px 10px;	
}

#tagName {
	text-transform:capitalize;
}

#artist-top #left { width: 50%; max-width: 450px; overflow: hidden;}
#artist-top #right { width: 50%; padding-left: 10px; max-width: 400px}

#artist-bottom .ui-block-a {width: 70%}
#artist-bottom .ui-block-b {width: 30%}

#top10 {
	width: 90%;
	margin-bottom: 10px;
	margin-top: 20px;
}

#infopage #albumTracks {
	max-width: 850px;
	margin: 10px 0px 10px 0px;
	padding: 0px 4px 0px 4px;
}

#defaultPage {
	background-image: url(../img/logobg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 500px 500px;
}

#defaultPage ul {
	width: 96%;
	margin: 5px 2% 5px 2%;
}

#defaultPage #gigs li {
	background-color: transparent;
}

#infopage {
	opacity:0;
	-moz-transition: opacity 1s; /* Firefox 4 */
	-webkit-transition: opacity 1s; /* Safari and Chrome */
	-o-transition: opacity 1s;
	transition: opacity 1s;
}​
