html {
	background-color: black;
}

body {
	background-color: #aaaaaa;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}

* {
   margin: 0px;
   padding: 0px;
}

#container {
	margin-left: auto ;
  	margin-right: auto ;
	width: 1024px;
	padding: 0px;
	height: 100%;
	position: relative;	
	background-color: black;
	min-height: 500px;
}

#ads {
	background-color: black;
	position: absolute;
	bottom: 27px;
	margin-left: 2px
}

#sidebar {
	float: left;
	display: inline;
	width: 290px;
	height: 100%;
	top:0;
	float:left;
}

#searchbox{
	color: white;
	font-size: small;
	padding: 6 0 0 0;
	text-align: center;
	width: 290px;
	height:32px;
	margin: 0 0 5 0;
	border-radius: 4px;
}

#searchtext {
	width: 90%;
	font-size: large;
	border-radius: 10px;
	padding-left: 10px
}

#results{
	list-style: none;
	padding:0px;
	margin:0 0 0 3px;
	position:absolute;
    top: 35px;
    width:287px;
    bottom:227px;
    overflow-y:scroll; 
    background-image: url('../img/help.png');
	background-size: 250px 250px;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #eeeeee;
	border-radius: 4px;
}

#player {
	height: 200px;
	width: 285px;
	position: absolute;
	bottom: 25px;
	margin: 2 0 0 3;
	background-image: url('../img/nosignal.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

#footer {
	font-size: small;
	color: white;
	position: absolute;
	height: 25;
	bottom: 0px;
	width: 100%;
	color: #cccccc;
	border-top: 1px solid #111111;
}

#footer a:hover, #footer a:visited, #footer a:link {
	color: darkred;
}

#throbber {
	display: inline-block;
	width: 390px;
	padding-left: 0px;
	margin: 0 2 0 2px;
}

#throbber span {
	display: block;
	text-align: center;
	background-image: url('../img/throbber.gif');
	background-size: 200px 100%;
	background-repeat: no-repeat;
	background-position: center center;
	color: #aaaaaa;
}

#description {
	display: inline-block;
	text-align: left;
	padding-left: 5px;
	width: 295px;	
	margin: 5px;
}

#links {
	text-align: right;
	width: 295px;
	display: inline-block;
	margin: 5px;
}


#results li img{
	height: 70px;
	width: 70px;
	border: 1px solid black;
}

#results li p{
	margin: 5 0 0 0;
}

.res_play span, .res_queue span {
	display: none;
}

.res_play, .res_queue {
	display: block;
	float: right;
	position: relative;
	top: 10px;
	height: 50px;
	width: 50px;
	background-position: center center;
	background-repeat: no-repeat; 	
}

.res_play:hover, .res_queue:hover {
	cursor: pointer;
}

.res_play {
	background-image: url('../img/result-play.png');
	margin-right: 10px;
	background-size: 100% 100%;
}

.res_queue {
	background-image: url('../img/result-queue.png');
	background-size: 80% 80%;
}

.resultseparator {
	height: 20px;
	background-color: #444444;
	padding-left: 5px;
	color: white;
}

.res_artist, .res_album, .res_track, .resultsperatator {
	border-bottom: 1px #888888 solid;
	margin: 0px;
	padding: 5 0 5 5;
}

.res_artist, .res_album, .res_track {
	background-color: #eeeeee;
}

.res_tag {
	background-color: lightgrey;
	display: inline-block;
	border-width: 0px;
	margin: 5px;
	border-radius: 10px;
	padding: 0 10 5 10px;
}

.res_tag:hover {
	cursor: pointer;
}

#content {
	color: white;
	display: inline;
	float: right;
	height:100%;
	top:0px;
	width: 734px;
}

#logo {
	display: block;
	height: 26px;
	width: 440px;
	margin: 0px;
	padding: 0px;
	background-image: url('../img/logosmall-beta.png');
	background-size: 140px 26px;
	background-repeat: no-repeat;
	background-position: center center;	
	text-align: center;
}

#logo span {
	visibility: hidden;
}

#musicplayer {
	padding: 5px;
	background-color: black;
	height: 100px;
	margin: 0 0 5 0;
}

#statusbar {
	position: relative;
	left: 0px;
	top: 4px;
	width: 440px;
	height: 50px;
	margin:0px;
	text-align: right;
	overflow: hidden;
	background-color: #222222;
	border-radius: 4px;
	text-align: center;
	padding: 10 5 10 5;
}

#statusbar p {
	font-size: smaller;
	margin-top: 8px;
	white-space: nowrap;
	overflow: hidden;
}

#controls {
	background-color: #222222;
	position: absolute;
	top: 35px;
	margin-left: 454px;
	width: 270px;
	text-align: center;
	border-radius: 4px;
	height: 70px;
}

#controls div {
	display: inline-block;
	height: 70px;
	width: 70px;
	margin: 0 0 0 0;
	color: white;
	background-size: 100% 100%;
}

#play span, #pause span, #next span, #prev span {
	display: none;
}

#play:hover, #pause:hover, #prev:hover, #next:hover {
	cursor: pointer;
}

#play {
	background-image: url('../img/controls-play.png');
}
#pause {
	background-image: url('../img/controls-pause.png');
}
#prev {
	background-image: url('../img/controls-prev.png');
}
#next {
	background-image: url('../img/controls-next.png');
}

#tracklist {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top:110px;
	width: 728px;
	bottom: 119px;
	overflow-y: scroll;
	border-left: 3px solid black;
	background-image: url('../img/logobigbw.png');
	background-size: 500px 390px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #eeeeee;
	border-radius: 4px;
}

#tracklist li {
	border-bottom: 1px solid #888888;
	padding: 5px;
	height: 40px;
	overflow: hidden;
}

#tracklist li:hover {
	cursor: pointer;
}

#tracklist li img {
	width: 40px;
	height: 40px;
	float: left;
	border: 1px black solid;
	display: inline-block;
}

#tracklist li span {
	padding-top: 10px;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	left: 5px;
	overflow: hidden;
	width: 650px;
}

.track {
	background-color: #eeeeee;
	color: black;
}

.currenttrack {
	background-color: #808080;
}
